*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#050505;
color:white;
}

/* LOGIN */

.login{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
display:flex;
align-items:center;
justify-content:center;
background:#050505;
z-index:1000;
}

.login-box{
background:#0f0f0f;
padding:40px;
border-radius:12px;
width:320px;
text-align:center;
box-shadow:0 0 25px rgba(255,0,0,0.25);
}

.login-box h2{
margin-bottom:20px;
color:#ff2b2b;
}

.login-box input{
width:100%;
padding:12px;
margin:10px 0;
border:none;
border-radius:6px;
background:#1b1b1b;
color:white;
}

.login-box input:focus{
outline:none;
box-shadow:0 0 10px #ff2b2b;
}

.login-box button{
width:100%;
padding:12px;
background:#ff2b2b;
border:none;
border-radius:6px;
color:white;
cursor:pointer;
transition:0.2s;
}

.login-box button:hover{
background:#ff0000;
box-shadow:0 0 12px #ff2b2b;
}

/* MENU LATERAL */

.sidebar{
position:fixed;
left:-230px;
top:0;
width:230px;
height:100%;
background:#0b0b0b;
padding-top:60px;
transition:0.3s;
z-index:200;
border-right:1px solid rgba(255,0,0,0.2);
}

.sidebar.ativo{
left:0;
}

.sidebar a{
display:block;
padding:15px 20px;
color:#ccc;
text-decoration:none;
cursor:pointer;
transition:0.2s;
}

.sidebar a:hover{
background:#140000;
color:#ff2b2b;
padding-left:25px;
}

/* TOPO */

.topo{
height:60px;
background:#0b0b0b;
display:flex;
align-items:center;
padding:0 20px;
border-bottom:1px solid rgba(255,0,0,0.2);
}

.menu-btn{
font-size:24px;
cursor:pointer;
margin-right:20px;
}

.logo{
font-weight:bold;
color:#ff2b2b;
letter-spacing:2px;
}

/* CONTAINER */

.container{
padding:30px;
}

/* CARDS */

.card{
background:#0f0f0f;
padding:30px;
border-radius:10px;
max-width:650px;
box-shadow:0 0 20px rgba(255,0,0,0.15);
}

/* DASHBOARD LOGO */

.dashboard-logo{
margin-bottom:15px;
}

.dashboard-logo img{
width:80px;
}

/* ABAS */

.aba{
display:none;
}

.aba.ativa{
display:block;
}

/* BOTÃO DOWNLOAD */

.download-btn{
display:inline-block;
margin-top:15px;
padding:14px 22px;
background:#ff2b2b;
color:white;
text-decoration:none;
border-radius:6px;
font-weight:bold;
transition:0.2s;
}

.download-btn:hover{
background:#ff0000;
box-shadow:0 0 15px #ff2b2b;
}

/* TUTORIAL */

.passo{
display:flex;
align-items:flex-start;
margin-top:18px;
background:#121212;
padding:12px;
border-radius:6px;
}

.numero{
min-width:30px;
height:30px;
background:#ff2b2b;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
margin-right:12px;
font-weight:bold;
}

.texto{
color:#ccc;
}

/* FUNÇÕES */

ul{
margin-top:15px;
padding-left:20px;
}

li{
margin-top:8px;
color:#ddd;
}

/* SCROLLBAR */

::-webkit-scrollbar{
width:6px;
}

::-webkit-scrollbar-thumb{
background:#ff2b2b;
border-radius:10px;
}
