body{
margin:0;
font-family:Arial;
background:#070707;
color:white;
}

/* LOGIN */

.login{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.login-box{
background:#0b0b0b;
padding:40px;
border-radius:10px;
border:1px solid red;
box-shadow:0 0 20px red;
text-align:center;
width:280px;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:none;
border-radius:5px;
background:#111;
color:white;
}

button{
width:100%;
padding:12px;
background:red;
border:none;
color:white;
border-radius:5px;
}

/* PAINEL */

.painel{
display:none;
}

/* MENU */


/* TOPO */

.topo{
display:flex;
align-items:center;
padding:20px;
border-bottom:1.sidebar{
position:fixed;
left:-260px;
top:0;
width:260px;
height:100%;
background:#0b0b0b;
border-right:1px solid rgba(255,0,0,0.2);
transition:0.3s;
padding-top:25px;
z-index:1000;
box-shadow:0 0 30px rgba(255,0,0,0.15);
}

/* MENU ABERTO */

.sidebar.ativo{
left:0;
}

/* TITULO */

.menu-header{
font-size:20px;
font-weight:bold;
color:#ff2b2b;
padding:20px;
text-align:center;
text-shadow:0 0 10px red;
border-bottom:1px solid rgba(255,0,0,0.2);
margin-bottom:10px;
}

/* ITEMS */

.menu-item{
display:flex;
align-items:center;
gap:12px;
padding:14px 20px;
margin:6px 12px;
border-radius:10px;
color:white;
text-decoration:none;
cursor:pointer;
transition:0.2s;
}

/* HOVER */

.menu-item:hover{
background:#140000;
box-shadow:0 0 10px rgba(255,0,0,0.2);
}

/* BOTÃO SAIR */

.sair{
margin-top:15px;
color:#ff5555;
}px solid rgba(255,0,0,0.2);
}

.menu-btn{
font-size:25px;
cursor:pointer;
margin-right:15px;
}

.logo{
font-size:26px;
color:red;
text-shadow:0 0 10px red;
}

/* CONTAINER */

.container{
max-width:800px;
margin:auto;
padding:20px;
}

/* CARD */

.card{
background:#0b0b0b;
padding:25px;
border-radius:12px;
border:1px solid rgba(255,0,0,0.2);
box-shadow:0 0 15px rgba(255,0,0,0.2);
}

/* ABAS */

.aba{
display:none;
}
.sidebar{
position:fixed;
left:-260px;
top:0;
width:260px;
height:100%;
background:#0b0b0b;
border-right:1px solid rgba(255,0,0,0.2);
transition:0.3s;
padding-top:20px;
z-index:1000;
}

.sidebar.ativo{
left:0;
}

.menu-header{
font-size:20px;
font-weight:bold;
color:#ff2b2b;
padding:20px;
text-align:center;
border-bottom:1px solid rgba(255,0,0,0.2);
margin-bottom:10px;
}

/* ITEM */

.menu-item{
display:flex;
align-items:center;
gap:12px;
padding:14px 18px;
margin:6px 10px;
border-radius:8px;
cursor:pointer;
transition:0.2s;
}

/* HOVER */

.menu-item:hover{
background:#140000;
}

/* ICON */

.icon{
width:20px;
height:20px;
fill:#ff2b2b;
flex-shrink:0;
}

/* TEXTO */

.menu-item span{
flex:1;
}

/* SAIR */

.sair{
color:#ff5555;
}
